.grid-container {
  grid-area: canvas;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
  width: 100%;
  aspect-ratio: 1 / 1;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
}

.grid-cell {
  background-color: #f0f0f0;
  box-sizing: border-box;
}

.grid-cell.drawn {
  background-color: black;
}

.img-container {
  align-items: center;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
}

.img-btn-container {
  display: flex;
  gap: 5px;
  flex-direction: row;
}

.saved-image {
  width: 100%;
}
